body {
    background-color:slategray;
}
.entWrapper {
    width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.entHeader {
    color: black;
    background-color: rgb(235, 192, 135);
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    grid-column: span 2;
    border-radius: 5px;
}
.entCell {
    font-size: small;
}
.entSpan {
    font-size: small;
    grid-column: span 2;
    padding: 0px;
}
.entButtonBig {
    width: 100px;
    border-radius: 5px;
}
.entButtonSmall {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0px;
}
.entNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3vh;
    background: rgb(47, 0, 255);
    color: rgb(218, 207, 207);
}
.entLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    list-style: none;
}
.entContainer {
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/movieGallery.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.entmWrapper {
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/movieGallery.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.entvWrapper {
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/tVShowsGallery.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}   